<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WorldTchat | Bienvenues</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset('AdminLte/plugins/fontawesome-free/css/all.min.css') }}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{{ asset('AdminLte/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('AdminLte/dist/css/adminlte.min.css') }}">
</head>

<body class="hold-transition login-page" style="background-image:url('asset/blog/images/image1.jpg'); background-size:100%;">


    
       
        <div class="card-header text-center">
        <p style="color:white;"><b>Votre Reseau sociau Open world</b> <br> connecter vous pour discuter et partager des informations...</p>
        <h1 style="font-size:55px; font-weight:700; letter-spacing:3px;">World<span style="">Tchat</span></h1>
        <img src="{{asset('asset/blog/images/logo1.jpg')}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8; margin:20px 0;">
            <a href="{{path('app_login')}}" class="btn btn-success btn-block" style="font-weight:600; font-size:25px;">Se connecter</a>
        </div>
         
    


</body>
</html