{#
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SylvertChate | Registration Page</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="AdminLte/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="AdminLte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="AdminLte/dist/css/adminlte.min.css">
</head>
{% block body %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.Nom) }}
        {{ form_row(registrationForm.Prenom) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

</html>



-----------------------------------------------------------------------------------------------#}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WorldTchat | Registration Page</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="AdminLte/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="AdminLte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="AdminLte/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page" style="background-image:url('asset/blog/images/image1.jpg'); background-size:100%;">
<div class="register-box">
  <div class="register-logo">
    <a href="#" style="font-weight:500;"><b>World</b>Tchat<span class="text-primary" style="">Register</span></a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg" style="font-weight:500;">Registration d'un nouveau membre</p>

     {{ form_start(registrationForm) }}

     

          {{ form_row(registrationForm.Nom,{'attr':{'class':'form form-control'}}) }}

          

        
          {{ form_row(registrationForm.Prenom,{'attr':{'class':'form form-control'}}) }}
          
        
        
          {{ form_row(registrationForm.email,{'attr':{'class':'form form-control'}}) }}
          
        
        
        {{ form_row(registrationForm.plainPassword) }}

          <div class="col-8">
            <div class="icheck-primary">
              {{ form_row(registrationForm.agreeTerms,{'attr':{'id':'agreeTerms', 'name':'terms'}}) }}
            
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block " style="margin:0px 100%; padding: 5px; font-weight:500;">Créer compte</button>
          </div>
          <!-- /.col -->
        </div>

      {{ form_end(registrationForm) }}


      <a href="{{path('app_login')}}" class="text-center btn-success" style=" border-radius:3px; font-weight:500;">Je m'suis deja inscrite !</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="AdminLte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="AdminLte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="AdminLte/dist/js/adminlte.min.js"></script>
</body>
</html>
