  {% extends 'base.html.twig' %}
  {% block title %}WorldTchat | ACCEUILLE{% endblock %}


{% block body %}
<body class="hold-transition sidebar-mini layout-fixed" >
    <div class="wrapper">

        <div class="preloader flex-column justify-content-center align-items-center" style="height: 0px;">
            <img class="animation__shake" src="AdminLte/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60" style="display: none;">
        </div>
{#-----------------------------zone de navigation---------------------------------------------#}       

{#-------------------------------------menu slide-bar---------------------------------------#}
        
{#-----------------------------------------corp du dashBorad----------------------------------#}
    <div class="content-wrapper" style="min-height: 213px;">
            <!-- Content Header (Page header) -->
            <div class="content-header">
            <div class="container-fluid">

        <!-----------------------------publication---------------------------->
        {% for article in articles %}
        <div class="card-header">
                <div class="user-block">
                  <img class="img-circle" src="asset/blog/images/profile.png" alt="User Image">
                  <span class="username"><a href="#">{{article.auteur}}</a></span>
                  <span class="description">Publier le - {{article.createdAt | date('d/m/y H:m:s')}}</span>
                </div>
              </div>  
        <h1 class="title p-2">{{ article.title}}</h1>
        <div class="card-body" style="display: block;">
                <img class="img-fluid pad" src="asset/blog/images/{{article.image}}" alt="{{article.title}}">

                <p>{{article.contenu | raw }}</p>
                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button>
                <button type="button" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"></i> Like</button>
                <span class="float-right text-muted">127 likes - 3 comments</span>
              </div>    

        <div class="card-footer card-comments" style="display: block;">
                <div class="card-comment">
                  <!-- User image -->
                  <img class="img-circle img-sm" src="AdminLte/dist/img/user3-128x128.jpg" alt="User Image">

                  <div class="comment-text">
                    <span class="username">
                      Maria Gonzales
                      <span class="text-muted float-right">8:00 PM Today</span>
                    </span><!-- /.username -->
                    It is a long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout.
                  </div>
                  <!-- /.comment-text -->
                </div>
                <!-- /.card-comment -->

                <div class="card-footer" style="display: block;">
                
                {% if app.User %}
                   {# {{ form_start(commentsForm) }}
                
                  <img class="img-fluid img-circle img-sm" src="AdminLte/dist/img/user4-128x128.jpg" alt="Alt Text">
                  <!-- .img-push is used to add margin to elements next to floating images --> #}
                  <div class="img-push">
                  {# {{form_label(commentsForm.email, 'Votre Email', {'attr': {'style': 'form-label inline-block mb-2 text-gray-700'}} ) }}
                  {{form_row(commentsForm.email)}}
                  {{form_label(commentsForm.nickname, 'Votre Pseudo', {'attr': {'style': 'form-label inline-block mb-2 text-gray-700'}} ) }}
                  {{form_row(commentsForm.nickname)}}
                  {{form_label(commentsForm.content, 'Nouveau commentaire', {'attr': {'style': 'form-label inline-block mb-2 text-gray-700'}} ) }}
                  {{form_row(commentsForm.content, {'attr': {'class': 'form-control form-control-sm font-normal text-gray-700 padding border border-solid', 'placeholder': 'clicker ici pour poster votre commentaire...'} } ) }}
                 #}
                    <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
                
                    <button class="btn inline-block px-6 py-2.5 btn-primary text-white rounded hover:bg-blue" style="margin:10px 0" type="submit">
                        Poster mon commentaire
                    </button>
                    
                  </div>
                  {# {{ form_end(commentsForm) }} #}
                {% endif %} 
                
                
              </div>
              </div>
        {% endfor %}      

<!-------------------------------------------------------------------------------------------->   
          
            </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            
        </div>
    </div>
</body>
        {% endblock %}

{#----------------------------------------Footer / pied de page--------------------------------
 

{#-----------------------script js-------------------------------#}
  

