{% extends 'base.html.twig' %}

{% block title %}  worldTchat | contacts {% endblock %}


{% block body %}
<body class="hold-transition sidebar-mini layout-fixed" >
    <div class="wrapper">
<div class="content-wrapper" style="min-height: 213px;">
            <!-- Content Header (Page header) -->
    <div class="content-header">
     <div class="container-fluid">
        <div class="card-body row">
                <div class="col-5 text-center d-flex align-items-center justify-content-center">
                    <div class="">
                    <h2>World<strong>Tchat</strong></h2>
                    <p class="lead mb-5">Poster et envoyer votre message<br>
                        Via Email Destinations
                    </p>
                    </div>
                </div>
                <div class="col-7">
                {{ form_start(contactForm) }}
                    {{form_label(contactForm.Nom, 'Nom', {'attr': {'class': 'form-label inline-block mb-2 text-gray-700'}} ) }}
                    {{form_widget(contactForm.Nom, {'attr': {'class': 'form-control'}} )}}
                    </p>
                     {{form_label(contactForm.Email, 'Email', {'attr': {'class': 'form-label inline-block mb-2 text-gray-700'}} ) }}
                    {{form_widget(contactForm.Email, {'attr': {'class': 'form-control'}} )}}
                    </p>
                     {{form_label(contactForm.Message, 'Messsage', {'attr': {'class': 'form-label inline-block mb-2 text-gray-700'}} ) }}
                    {{form_widget(contactForm.Message, {'attr': {'class': 'form-control'}} )}}
</p>
                    {{form_widget(contactForm.Envoyer, {'attr': {'class': 'btn btn-primary'}} )}}

                    
                    {# <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" id="inputName" class="form-control">
                    </div>
                    <div class="form-group">
                    <label for="inputEmail">E-Mail</label>
                    <input type="email" id="inputEmail" class="form-control">
                    </div>
                    <div class="form-group">
                    <label for="inputSubject">Subject</label>
                    <input type="text" id="inputSubject" class="form-control">
                    </div>
                    <div class="form-group">
                    <label for="inputMessage">Message</label>
                    <textarea id="inputMessage" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Send message">
                    </div> #}
                    {{ form_end(contactForm) }}
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
{% endblock %}

